* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-text-font: Arial, Helvetica, sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
/* header */

header {
  font-family: var(--main-text-font);
  display: flex;
  justify-content: space-between;
  padding: 12px 50px;
  height: 70px;
  justify-items: center;
  position: fixed;

  width: 100%;
  z-index: 1;
  background: rgba(255, 255, 255, 0.3);
}
header.sticky {
  background: rgba(255, 255, 255, 1);
}
header:hover {
  background: rgba(255, 255, 255, 1);
}
.logo {
  flex: 1;
}
.menu {
  flex: 3;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.menu > li {
  width: 70%;
  padding: 0 12px;
  position: relative;
  text-align: center;
}
.menu > li:hover .sub-menu {
  display: block;
  visibility: visible;
  top: 20px;
  margin-left: 22px;
}
.menu > li > a {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  display: block;
}
.sub-menu {
  position: absolute;
  width: 150px;
  border: 1px solid #ccc;
  padding: 20px;
  visibility: hidden;
  top: 60px;
  transition: 0.3s;
  z-index: 1;
  background-color: white;
  /* transition-delay: 0.01s; */
}
.sub-menu li {
  padding: 2px 0 5px 5px;
  text-align: start;
}
.sub-menu ul {
  padding-left: 15px;
}
.sub-menu > li > a {
  font-weight: bold;
}
.sub-menu ul li a {
  font-size: 12px;
}

.others {
  flex: 1;
  display: flex;
}
.others > li {
  padding: 0 12px;
}
.others > li:first-child {
  position: relative;
}
.others > li:first-child input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #333;
  outline: none;
  background: transparent;
}
.others > li:first-child i {
  position: absolute;
  right: 10px;
}
#Slider {
  padding-bottom: 30px;
  border-bottom: 2px solid #000;
  overflow: hidden;
  z-index: 1;
}

.slider-container {
  display: block;
  position: relative;
  padding-top: 56.25%;
  transition: 0.3s;
}

.slider-container img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.dot-container {
  position: absolute;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.dot {
  height: 16px;
  width: 16px;
  background: #ccc;
  border-radius: 50%;
  margin: 12px;
  cursor: pointer;
}
.dot.active {
  background-color: #000;
}
/* ---------------app-------------- */
.app-container {
  font-family: var(--main-text-font);
  text-align: center;
  align-items: center;
  padding: 150px 0 50px 0;
}
.app-goole {
  margin: 50px;
}
.app-goole img {
  height: 50px;
}
.app-container p {
  line-height: 20px;
  letter-spacing: 1px;
  font-size: 17px;
  color: #000;
  font-weight: bold;
}
.email {
  display: inline-block;
  justify-content: center;
  align-items: center;
  position: relative;
}
.email input {
  margin-top: 50px;
  border: none;
  border-bottom: 1px solid #000;
  width: 400px;
  text-align: center;
  padding: 20px 0 0 0;
  outline: none;
}
.email a {
  position: absolute;
  right: 16px;
  bottom: -5px;
  font-size: 13px;
  transform: translateY(-50%) scaleX(3); /* kéo ngang 1.8 lần */
}

/* ---------------footer-------------- */

.footer-top {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-family: var(--main-text-font);
}
.footer-top li {
  padding: 0 10px;
  border: none;
  position: relative;
}
.footer-top > li:not(:last-child)::after {
  content: "";
  display: block;
  width: 1px;
  height: 80%;
  background: #ccc;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-bottom {
  font-family: var(--main-text-font);
  text-align: center;
  border-top: 1px solid #e4dcdc;
  padding: 25px 0;
}
/* .catergory */
.catergory {
  font-family: var(--main-text-font);
  padding: 100px;
}
.catergory-top {
  margin-bottom: 50px;
}
.catergory-top p {
  margin: 0 12px;
  font-size: 12px;
}
.catergory-left {
  width: 20%;
}
.catergory-right {
  width: 80%;
}
.catergory-right-top-item {
  flex: 1;
  padding: 0 12px;
}
.catergory-right-top-item:first-child {
  flex: 2;
  font-size: 16px;
  font-weight: bold;
}
.catergory-right-top-item button {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
}
.catergory-right-top-item select {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
  outline: none;
}
.catergory-right-content {
  margin-top: 20px;
  justify-content: space-between;
}
.catergory-right-content-item {
  width: calc(25% - 12px);
  text-align: center;
  padding: 12px 0;
}
.catergory-right-content-item h1 {
  font-size: 16px;
  margin-top: 6px;
  color: #333;
  font-family: var(--main-text-font);
}
.catergory-right-content-item img {
  width: 100%;
}
.catergory-right-content-item p {
  font-size: 14px;
}
.catergory-right-bottom {
  width: 100%;
  justify-content: space-between;
  margin: 30px 0 20px;
}
.catergory-right-bottom {
  font-family: var(--main-text-font);
  font-size: 12px;
}
.catergory-left ul li {
  padding: 12px 0;
}
.catergory-left-li ul {
  display: none;
}
.catergory-left-li.block ul {
  display: block;
}
